.articleContentTr.inactive {
    display: none;
}

.articleTr.active {
    background-color: var(--accent-color-transparent);
}

.articleTr td.articleViewContent i {
    transition: 0.5s;
}

.articleTr.active td.articleViewContent i {
    rotate: 45deg;
}

.articleTr.active:hover td {
    background-color: var(--accent-color) !important;
}