/* Select */
.select {
    width: 100%;
    padding: 1vw;

    color: var(--prefer-text);
    
    border: 1px #999 solid;
    border-radius: 1vw;
    margin-bottom: 2vh;
    
    box-sizing: border-box;

    font-size: var(--big-font-size);
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.select .option {
    gap: 1vw;
    
    display: flex;
    flex-direction: column;
}

.select .option div{
    width: max-content;
}

.select .option span {
    color: var(--accent-color);
}

.select input[type="number"] {
    padding: 0;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 5vw;

    font-size: var(--big-font-size);
    font-weight: 800;
    text-align: right;
    color: var(--prefer-text);

    border: none;
    border-radius: 1vw;
    background-color: var(--accent-color-transparent);
}

.select input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;

    font: inherit;
    color: currentColor;
    
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    
    border: 0.1em solid var(--prefer-text);
    border-radius: 0.15em;
    transform: translateY(0.2em);

    position: relative;
}

.select input[type="checkbox"]:before {
    width: 0.7em;
    height: 0.7em;
    left: 0.15em;
    top: 0.15em;

    content: '';
    display: block;
    background-color: var(--prefer-background);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

    position: absolute;
}

.select input[type="checkbox"]:checked {
    background-color: var(--prefer-text);
}

.select input[type="submit"] {
    border: none;
    border-radius: 100vw;

    width: 22.5vw;

    color: var(--prefer-background);
    font-weight: 700;
    font-size: var(--big-font-size);

    background-color: var(--accent-color);
}

/* Select Mobile */ @media screen and (max-width: 600px){
    .select {
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }

    .select .option {
        width: 100%;
        align-items: center;
    }

    .select input[type="number"] {
        width: 8vw;
    }

    .select input[type="submit"] {
        width: 100%;
    }
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    background-color: var(--accent-color);
    font-size: var(--big-font-size);
    color: var(--prefer-background);

    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

table tr.defTr td {
    background-color: var(--accent-color-transparent);
    font-size: calc(var(--big-font-size)/1.5);
    font-weight: 500;
    text-align: center;
    border: none !important;
}

table td {
    text-align: center;
    font-size: calc(var(--big-font-size)/3);
    word-break: keep-all;
}

table tr.topSubject {
    border-top: 3px var(--prefer-text) solid;
}

table td.subjectName {
    font-weight: 600;
    font-size: calc(var(--big-font-size)/2);
}

table td.performName {
    text-align: left;
}

table td.performName, td.performPoint {
    border-top: 1px var(--prefer-text) solid;
}

table td.percent_midFinal,
table td.percent_perform,
table td.performPoint {
    width: fit-content;
}