main {
    padding: 0;
}

.infoDiv {
    width: 100%;
    padding: 1vw;

    background-color: var(--accent-color-transparent);
    color: var(--prefer-text);
}

.infoDiv .titleDiv {    
    font-size: var(--recommend-font-size);
    font-weight: 700;
    color: inherit;
}

.infoDiv .writeDiv {
    display: block;
    padding: 0.5vw;
    padding-left: 1vw;
    margin-top: 1vw;

    border-radius: 20vw;
    
    background-color: var(--accent-color);
    color: var(--prefer-background);

    font-weight: 700;
    font-size: 2vw;
}

.articleDiv {
    width: 100%;
    padding: 1vw;

    color: var(--prefer-text);
}

.articleDiv table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.articleDiv td {
    text-align: center;
    padding: 1vw;
    position: relative;

    background-color: transparent;
}

.articleDiv td.articleTitle {
    text-align: left;
}

.articleDiv tr.tableHeader td {
    padding: 2vw;
    border-bottom: #999 2px solid;
}

.articleDiv tr.articleTr td {
    border-bottom: #999 1px solid;
}

@media (prefers-color-scheme: dark) {
    .articleDiv tr.articleTr:hover td {
        background-color: #333; /*666*/
    }
}

@media (prefers-color-scheme: light) {
    .articleDiv tr.articleTr:hover td {
        background-color: #ddd; /*aaa*/
    }
}

.articleDiv tr.articleTr.me td.articleAuthor {
    font-weight: 700;
}

.articleDiv td .articleMenu div {
    display: none;
    position: absolute;
}

.articleDiv td:hover .articleMenu div {
    display: block;
}

.articleDiv td .articleMenu div .edit {
    display: none;
}

.articleDiv tr.me td .articleMenu div .edit {
    display: block;
}