main {
    align-items: center;
}

input.id {
    width: 50%;
    height: 100%;

    font-size: 5vw;

    border: none;
    border-radius: 20vw;
    outline: none;

    color: black;
    background-color: #999;
    padding: 3vw;
    margin: 2vw;
}

input.pw {
    width: 50%;
    height: 100%;

    font-size: 5vw;

    border: none;
    border-radius: 20vw;
    outline: none;

    color: black;
    background-color: #999;
    padding: 3vw;
    margin: 2vw;
}

input.submit {
    color: var(--prefer-text);
    background-color: var(--accent-color);
    
    border-radius: 2vw;
    border: none;
    
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    
    padding: 3vw;
    margin: 2vw;
}