#id input {
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: 2vw;

    border: none;
    border-radius: 20vw;
    outline: none;

    color: black;
    background-color: #999;
}
#submit input {
    color: var(--prefer-text);
    background-color: var(--accent-color);
    
    border-radius: 1vw;
    border: none;
    
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
    
    padding: 1vw;
}