/* Color Tags */
@media (prefers-color-scheme: light) {
    * {
        --accent-color: #228B22;
        --accent-color-transparent: #228B2250;  
        --accent-color-strong: #a5f3a5;
        --accent-color-weak: #155115;
        --prefer-background-transparent: #FFFFFFAA;
        --prefer-background: white;
        --prefer-text: black;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --accent-color: #90EE90;
        --accent-color-transparent: #90EE9050;  
        --accent-color-strong: #6CEE6C;
        --accent-color-weak: #527952;
        --prefer-background-transparent: #000000AA;
        --prefer-background: black;
        --prefer-text: white;
    }
}

/* All */

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: Pretendard, "TheJamsil", "MBC1961GulimM", "Noto Color Emoji", "Dovemayo_gothic";
    box-sizing: border-box;
}

a {
    color: var(--prefer-text);
    text-decoration-line: none;
}

p {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    
    background-color: var(--prefer-background);
}

.wrap {
    position: relative;
    height: auto;
    min-height: 100%;
    min-width: 100%;
}

main {
    box-sizing: border-box;

    background-color: var(--prefer-background);
    color: var(--prefer-text);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    border-radius: 0;
}

/* normalErrorMessage */
.normalErrorMessage {
    font-weight: 300;
    font-size: calc(var(--big-font-size) / 2);
    color: var(--prefer-text);
}

.normalErrorMessage span {
    font-weight: 700;
    font-size: var(--big-font-size);
}

@media (prefers-color-scheme: light) {
    .patternAccent {
        background: url('/src/patternLight.png') repeat-x center bottom;
        color: var(--accent-color);
    }
}

@media (prefers-color-scheme: dark) {
    .patternAccent {
        background: url('/src/patternDark.png') repeat-x center bottom;
        color: var(--accent-color);
    }
}

/* ScrollBar */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, header::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body, header {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Title, content Div */
.pageTitleDiv {
    width: 100%;
    padding: 1vw;

    background-color: var(--accent-color-transparent);
    color: var(--prefer-text);
}

.pageTitleDiv .titleDiv {    
    font-size: var(--big-font-size);
    font-weight: 700;
    color: inherit;
}

.pageContentDiv {
    padding: 1vw;
}

footer {
    padding: 1vw;
    
    position : relative;

    font-size: calc(var(--big-font-size) / 2);

    background: #1b263b;
    color: white;

    display: flex;
    justify-content: space-around;
}

footer div.additional_page {
    padding: 0.5vw;
    gap: 0.5vw;

    background-color: #778da9;
    
    color: #1b263b;
    font-weight: 700;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer a {
    color: inherit !important;
}

footer a:hover {
    text-decoration: underline #FFFFFF70 solid 3px;
}
