main {
    padding: 0 !important;
}

.mainImgBanner {
    z-index: 1;
    width: 100%;
    min-height: 50vh;

    padding: var(--big-font-size);
    
    color: transparent;
    font-weight: 900;
    font-size: calc(var(--big-font-size) * 2);

    background-image: url(/src/wideShot.jpg);
    background-position: center bottom 25%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: light) {
    .mainImgBanner {
        text-shadow: 0 0 1em var(--prefer-text);
    
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--prefer-background);
    }
}

@media (prefers-color-scheme: dark) {
    .mainImgBanner {
        text-shadow: 0 0 1em var(--prefer-text);
    
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--prefer-background);
        
    }
}

h1 {
    color: var(--prefer-text);
}