main {
    padding: 0 !important;
}

.maintoday {
    display: flex;
}

.mainImgBanner {
    flex: initial;
    z-index: 1;

    padding: var(--big-font-size);
    
    color: transparent;
    font-weight: 900;

    background-position: center bottom 25%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.today{
    flex: auto;
    margin: 2vw;
    border: 0;
    border-radius: 2vw;
    background-color: var(--accent-color-strong);
    font-size: 2vw;
}

.todaytitle {
    text-align: center;
    font-size: 3vw;
    padding-top: 1.5vw;
}

.announcement {
    margin: 2vw;
    padding: 1vw;
    border: 0;
    border-radius: 2vw;
    background-color: var(--accent-color-strong);
    font-size: 2vw;
}

.information {
    padding: 1vw;
    margin: 2vw;
    border: 0;
    border-radius: 2vw;
    background-color: var(--accent-color-strong);
    font-size: 2vw;
}


@media (prefers-color-scheme: light) {
    .mainImgBanner {
        text-shadow: var(--prefer-text) 0 0 30px;
    
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--prefer-background);
    }
}

@media (prefers-color-scheme: dark) {
    .mainImgBanner {
        text-shadow: var(--prefer-text) 0 0 30px;
    
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--prefer-background);
    }
}

h1 {
    color: var(--prefer-text);
}
/* Desktop */ @media screen and (min-width: 601px){
    .mainImgBanner {
        width: 70%;
        background-image: url(/src/wideShot.jpg);
        font-size: 3.5vw;
    }
}