main {
    padding: 0 !important;
}

.maintoday {
    display: flex;
}

.mainImgBanner {
    margin: 0;
    width: 70%;
    
    padding: var(--big-font-size);
    
    background-image: url(/src/wideShot.jpg);
    background-position: center bottom 25%;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex: initial;
    justify-content: center;
    align-items: center;
}

.doubleStroke {
    color: var(--prefer-background);
    font-weight: 900;
    position: relative;
    font-size: var(--big-font-size);
    z-index: 1;
}
.doubleStroke:before { /*inner*/
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.11em var(--prefer-text); 
    
    left: 0;
    top: 0;
    z-index: -1;
}
.doubleStroke:after { /*outer*/
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.25em var(--prefer-background);
    left: 0;
    top: 0;
    z-index: -2;
}

.today{
    flex: auto;
    margin: 2vw;
    border: 0;
    border-radius: 2vw;
    background-color: var(--accent-color-strong);
    font-size: 2vw;
}

.titleText {
    text-align: center;
    font-size: var(--big-font-size);
    font-weight: 700;
    width: fit-content;
}

.contentDiv {
    padding: 1vw;
    border: 0;
    border-radius: 1vw;
    margin: 2vw;

    font-size: calc(var(--big-font-size) / 2);
    
    background-color: var(--accent-color-strong);
}

.information ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.information img {
    width: calc(var(--big-font-size) * 2);
}

.one_line_announce {
    border-radius: 100vw !important;
}

h1 {
    color: var(--prefer-text);
}

/* Mobile */ @media screen and (max-width: 600px){
    .mainImgBanner {
        width: 60%;
    }
}