main {
    padding: 0;
}

.infoDiv {
    width: 100%;
    padding: 1vw;
    
    background-color: var(--accent-color);
    color: var(--prefer-text);
}

.infoDiv .title {
    font-weight: 700;
    font-size: var(--big-font-size);
}

.infoDiv hr {
    border: var(--prefer-text) 1px solid;
}

.infoDiv .additionalInfo {
    width: 100%;
    padding: 1vw;
    border-radius: 1vw;

    background-color: var(--prefer-background);

    list-style: none;
    display: flex;

    justify-content: space-around;
}

.infoDiv .ButtonsDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
}

.infoDiv .ButtonsDiv a {
    display: flex;
    align-items: center;
    gap: max(0.5vw, 10px);

    position: relative;

    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    border-radius: 20vw;

    font-weight: 700;
    font-size: 2vw;
}

.infoDiv .ButtonsDiv a.returnDiv {
    background-color: var(--accent-color-strong);
    color: var(--prefer-text);
}

.infoDiv .ButtonsDiv a.editDiv {
    background-color: var(--accent-color-weak);
    color: var(--prefer-background);
}

.infoDiv .ButtonsDiv.NotMe a.returnDiv {
    grid-column-start: 1;
    grid-column-end: 3;
}

.infoDiv .ButtonsDiv.NotMe a.editDiv {
    display: none;
}


.contentDiv {
    padding: 1vw;
    font-size: calc(var(--big-font-size) * 0.6);

    color: var(--prefer-text);
}

/* Mobile */ @media screen and (max-width: 600px){
    .infoDiv .ButtonsDiv a.returnDiv {
        background-color: var(--accent-color-strong);
        color: var(--prefer-text);
        font-size: 4vw;
    }
    
    .infoDiv .ButtonsDiv a.editDiv {
        background-color: var(--accent-color-weak);
        color: var(--prefer-background);
        font-size: 4vw;
    }
}