/* #FF8D12 */
/* #427ADC */


/* All */

* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
    color: black;
    text-decoration-line: none;
}

p {
    margin: 0;
}

main {
    padding: 1vw;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Desktop */ @media screen and (min-width: 425px){
    body {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    header {
        width: max-content;
        min-width: calc(var(--header-font-size) * 5);
        min-height: 100vh;

        background-color: white;
        color: black;
            
        border-right: 1px #999999 solid;

        --header-font-size: max(3vw, 30px)
    }

    header .logo {
        display: inline-flex;
        width: 15vw;
    }

    header .logo img{
        width: 100%;
        object-fit: contain;
    }

    header .menu {
        width: 100%;
        list-style: none;
        
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }

    header .menu > li {
        background-color: transparent;
        padding : 0.5vw;
    }
    
    header .menu > li p {
        width: fit-content;

        margin-bottom: 0.5vw;

        font-size: var(--header-font-size);
        font-weight: 800;
    
        background: url('/src/patternY.png') repeat-x center bottom;
    }

    header .menu > li:hover p {
        background: url('/src/pattern.png') repeat-x center bottom;
    }
    
    header .menu > li:hover {
        background-color: #FF8D12;
        color: white;
    }

    header .menu > li .submenu {
        background-color: white;
        padding: 1vw;

        font-weight: 700;
        font-size: calc(var(--header-font-size) * 0.6);
        
        display: none;
        align-items: first baseline;
        flex-direction: column;

        border-radius: 1vw;
    }
    
    header .menu > li:hover .submenu {
        display: flex;
    }

    header .menu > li:hover .submenu a {
        color: black;
        position: relative;
        z-index: 2;
    }
    
    header .menu > li:hover .submenu a::before {
        background-color: #FF8D1250;
        border-radius: 2vw;
        
        width: 100%;
        height: 0.5vw;
        position: absolute;
        bottom: 0;

        display: none;
        content: '';

        z-index: 1;
    }

    header .menu > li:hover .submenu a:hover::before {
        display: block;
    }
}

/* Mobile */ @media screen and (max-width: 424px){
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    header {
        width: 100vw;
        height: max-content;

        background-color: white;
        color: black;
            
        border-bottom: 1px #999 solid;

        display: flex;
    }

    header .logo {
        display: inline-flex;
        width: 20vw;
    }

    header .logo img{
        width: 100%;
        object-fit: cover;
    }

    header .menu {
        width: 80vw;
        padding: 0;

        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header .menu li {
        display: flex;
        align-items: center;
    }

    header .menu li p {
        font-size: 4vw;
        font-weight: 800;
        position: relative;
    }

    header .menu > li p::before {
        background-color: #FF8D1250;
        border-radius: 1vw;
        
        width: 100%;
        height: 2vw;
        position: absolute;
        bottom: 0;

        display: none;
        content: '';

        z-index: 1;
    }

    header .menu > li:hover p::before {
        display: block;
    }

    header .menu li .submenu {
        display: none;
        position: absolute;
        
        left: 0;
        top: 15vw;

        width: 100vw;

        flex-direction: row;
        justify-content: space-around;
        background-color: #FF8D12;
        color: white;

        z-index: 1;
    }

    header .menu li .submenu a {
        font-weight: 600;
        font-size: 3vw;
        background-color: white;
        margin: 1vw;
        padding: 1vw;
        border-radius: 5vw;
    }

    header .menu li:hover .submenu {
        display: flex;
    }
}


/* DarkMode */ @media (prefers-color-scheme: dark) {
    header {
        background-color: black;
        color: white;
            
        border-right: 1px #666666 solid;
    }

    header .menu > li .submenu a {
        color: white;
    }

    body {
        background-color: black;
        color: white;
    }
}

/* DarkMode Desktop */ @media (prefers-color-scheme: dark) and (min-width: 425px) {
    header .menu > li:hover {
        background-color: #0072f3;
        color: black;
    }

    header .menu > li .submenu:hover {
        color: black;
    }

    header .menu > li:hover .submenu a::before {
        background-color: #0072f350;
    }
}

/* DarkMode Mobile */ @media (prefers-color-scheme: dark) and (max-width: 424px) {
    header .menu li .submenu {
        background-color: #0072f3;
        color: white;
    }

    header .menu > li p::before {
        background-color: #0072f350;
    }

    header .menu li .submenu a {
        background-color: black;
    }
}