/* Color Tags */
@media (prefers-color-scheme: light) {
    * {
        --accent-color: #228B22;
        --accent-color-transparent: #228B2250;  
        --accent-color-strong: #FADDC1;
        --accent-color-weak: #4B2E12;
        --prefer-background: white;
        --prefer-text: black;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --accent-color: #90EE90;
        --accent-color-transparent: #90EE9050;  
        --accent-color-strong: #192643;
        --accent-color-weak: #C8D5F2;
        --prefer-background: black;
        --prefer-text: white;
    }
}

/* All */

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: Pretendard, "TheJamsil5Bold", "MBC1961GulimM", "Noto Color Emoji", "Dovemayo_gothic";
    box-sizing: border-box;
}

a {
    color: var(--prefer-text);
    text-decoration-line: none;
}

p {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    
    background-color: var(--prefer-background);
}

.wrap {
    position: relative;
    height: auto;
    min-height: 100%;
    min-width: 100%;
}

main {
    padding: 1vw;
    box-sizing: border-box;

    background-color: var(--prefer-background);
    color: var(--prefer-text);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    border-radius: 0;
}

/* normalErrorMessage */
.normalErrorMessage {
    font-weight: 300;
    font-size: calc(var(--big-font-size) / 2);
    color: var(--prefer-text);
}

.normalErrorMessage span {
    font-weight: 700;
    font-size: var(--big-font-size);
}

@media (prefers-color-scheme: light) {
    .patternAccent {
        background: url('/src/patternY.png') repeat-x center bottom;
        color: var(--accent-color);
    }
}

@media (prefers-color-scheme: dark) {
    .patternAccent {
        background: url('/src/patternB.png') repeat-x center bottom;
        color: var(--accent-color);
    }
}

/* ScrollBar */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, header::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body, header {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header {
   font-family: "Dovemayo_gothic" !important;
}

footer {
    height: 3vh;
    position : relative;
    border-top: 1px solid #999;
    
    color: #999 !important;
    text-align: center;
    font-size: calc(var(--big-font-size) / 2);
}
