/* #FF8D12 */
/* #427ADC */

/* Light/Dark Setting : Light */ @media (prefers-color-scheme: light) {
    * {
        --accent-color: #FF8D12;
        --accent-color-transparent: #FF8D1250;  
        --prefer-background: white;
        --prefer-text: black;
    }
}

/* Light/Dark Setting : Dark */ @media (prefers-color-scheme: dark) {
    * {
        --accent-color: #427ADC;
        --accent-color-transparent: #427ADC50;  
        --prefer-background: black;
        --prefer-text: white;
    }
}

/* All */

* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration-line: none;
}

p {
    margin: 0;
}

body {
    min-height: 100vh;
    
    background-color: var(--prefer-background);
}

main {
    padding: 1vw;
    box-sizing: border-box;

    background-color: var(--prefer-background);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    border-radius: 0;
}

/* Desktop */ @media screen and (min-width: 425px){
    body {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    header {
        width: max-content;
        min-width: calc(var(--header-font-size) * 5);
        min-height: 100vh;

        box-sizing: border-box;

        background-color: var(--prefer-background);
        border-right: 1px #999999 solid;

        color: var(--prefer-text);
        --header-font-size: max(3vw, 30px);
        
        position: fixed;
    }

    main {
        /* position: absolute; */
        box-sizing: border-box;
        right: 0;
    }

    header .logo {
        display: inline-flex;
        width: 15vw;
    }

    header .logo img{
        width: 100%;
        object-fit: contain;
    }

    header .menu {
        width: 100%;
        list-style: none;
        
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }

    header .menu > li {
        background-color: transparent;
        padding : 0.5vw;
    }
    
    header .menu > li p {
        width: fit-content;

        margin-bottom: 0.5vw;

        font-size: var(--header-font-size);
        font-weight: 800;

        background: url('/src/patternY.png') repeat-x center bottom;
    }

    header .menu > li:hover p {
        background: url('/src/pattern.png') repeat-x center bottom;
    }
    
    header .menu > li:hover {
        background-color: var(--accent-color);
        color: var(--prefer-text);
    }

    header .menu > li .submenu {
        background-color: var(--prefer-background);
        padding: 1vw;

        font-weight: 700;
        font-size: calc(var(--header-font-size) * 0.6);
        
        display: none;
        align-items: first baseline;
        flex-direction: column;

        border-radius: 1vw;
    }
    
    header .menu > li:hover .submenu {
        display: flex;
    }

    header .menu > li:hover .submenu a {
        color: var(--prefer-text);
        position: relative;
        z-index: 2;
    }
    
    header .menu > li:hover .submenu a::before {
        background-color: var(--accent-color-transparent);
        border-radius: 2vw;
        
        width: 100%;
        height: 0.5vw;
        position: absolute;
        bottom: 0;

        display: none;
        content: '';

        z-index: 1;
    }

    header .menu > li:hover .submenu a:hover::before {
        display: block;
    }

    header .member {
        position: absolute;
        bottom: 0;

        width: 100%;

        padding: 0.5vw;

        color: var(--prefer-text);
        display: flex;
        gap: 0.5vw;
    }

    header .member .member_icon{
        color: inherit;

        font-size: calc(var(--header-font-size) - 1vw);
        /* --header-font-size: max(3vw, 30px); */

        width: calc( var(--header-font-size) + 1.5vw);
        height: calc( var(--header-font-size) + 1.5vw);
        border-radius: 50%;

        padding: 0.5vw;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .member .member_text{
        height: inherit;

        color: inherit;
        
        font-weight: 700;
        font-size: calc(var(--header-font-size) - 1vw);

        display: flex;
        align-items: center;
    }

    @media (prefers-color-scheme: dark) {
        header .member {
            background-color: #333;
        }

        header .member .member_icon {
            background-color: #666;
        }
    }

    @media (prefers-color-scheme: light) {
        header .member {
            background-color: #ddd;
        }

        header .member .member_icon {
            background-color: #aaa;
        }
    }
}

/* Mobile */ @media screen and (max-width: 424px){
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    header {
        width: 100vw;
        height: max-content;

        background-color: var(--prefer-background);
        color: var(--prefer-text);
            
        border-bottom: 1px #999 solid;

        display: flex;
        align-items: center;
    }

    header .logo {
        display: inline-flex;
        width: 20vw;
    }

    header .logo img{
        width: 100%;
        object-fit: cover;
    }

    header .menu {
        width: 80vw;
        padding: 0;

        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header .menu li {
        display: flex;
        align-items: center;
    }

    header .menu li p {
        font-size: 4.5vw;
        font-weight: 800;
        position: relative;
    }

    header .menu > li p::before {
        background-color: var(--accent-color-transparent);
        border-radius: 1vw;
        
        width: 100%;
        height: 2vw;
        position: absolute;
        bottom: 0;

        display: none;
        content: '';

        z-index: 1;
    }

    header .menu > li:hover p::before {
        display: block;
    }

    header .menu li .submenu {
        display: none;
        position: absolute;
        

        width: 100vw;

        flex-direction: row;
        justify-content: space-around;
        background-color: var(--accent-color);
        color: var(--prefer-text);

        z-index: 1;
    }

    header .menu li .submenu a {
        font-weight: 600;
        font-size: 3.5vw;
        background-color: var(--prefer-background);
        color: var(--prefer-text);
        margin: 1vw;
        padding: 1vw;
        border-radius: 5vw;
    }

    header .menu li:hover .submenu {
        display: flex;
    }

    header .member {
        text-align: center;
        font-size: 4vw;
        margin-right: 1vw;
    }

    header .member .member_text {
        display: none;
    }

    header .member .member_icon {
        font-size: 5vw;
        color: var(--prefer-text);
    }

}

@media (prefers-color-scheme: dark) {
    header .menu > li p {
        background: url('/src/patternB.png') repeat-x center bottom;
    }
}

/* 전체 페이지 적용 태그 */
@media (prefers-color-scheme: light) {
    .patternAccent {
        background: url('/src/patternY.png') repeat-x center bottom;
    }
}

@media (prefers-color-scheme: dark) {
    .patternAccent {
        background: url('/src/patternB.png') repeat-x center bottom;
    }
}