.settingLI {
    padding-left: 1vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--big-font-size);
    
    border-radius: 1vw;
    background-color: var(--prefer-background);

    margin-bottom: 1vw;
}

@media (prefers-color-scheme: light) {
    .settingLI, .permDiv {
        box-shadow:  8px 8px 27px #d4d4d4,
        -8px -8px 27px #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    .settingLI, .permDiv {
        box-shadow:  8px 8px 27px #282828,
        -8px -8px 27px #383838;
    }
}

.settingLI a {
    padding: 1vw;
}

.settingLI a i {
    width: calc(var(--big-font-size)*2);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--prefer-text);
    color: var(--prefer-background);

    border-radius: 50%;
    font-size: var(--big-font-size);
}

.permDiv {
    background-color: var(--accent-color-transparent);
    padding: 1vw;
    margin-bottom: 1vw;
    
    border-radius: 1vw;
}

.permDiv > span {
    font-size: var(--big-font-size);
    font-weight: 700;
}

.permDiv .settingLI{
    box-shadow: none
}