.area {
    width: 100%;
    padding: 1vw;

    color: var(--prefer-text);
    box-sizing: border-box;

    font-size: var(--big-font-size);
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.area .class {
    gap: 1vw;
    
    display: flex;
    flex-direction: column;
}

.area .class div{
    width: max-content;
}

.area .class span {
    color: var(--accent-color);
}

.area input[type="number"] {
    padding: 0;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    width: 5vw;

    font-size: var(--big-font-size);
    font-weight: 800;
    text-align: right;
    color: var(--prefer-text);

    border: none;
    border-radius: 1vw;
    background-color: var(--accent-color-transparent);
}