/* Select */
.select {
    width: 100%;
    padding: 1vw;
    
    border: 1px #999 solid;
    border-radius: 1vw;
    
    box-sizing: border-box;

    --select-font-size: min(4vw, 40px);

    font-size: var(--select-font-size);
    font-weight: 600;

    display: flex;
    justify-content: space-between;
}

.select .option {
    min-width: 40vw;

    gap: 1vw;
    
    display: flex;
    flex-direction: column;
}

.select .option div{
    width: max-content;
}

.select input[type="number"] {
    font-size: var(--select-font-size);

    font-weight: 800;

    border: none;
    border-bottom: 2px black solid;
    padding: 0;

    text-align: right;

    width: 5vw;
}

.select input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: currentColor;
    
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    
    border: 0.1em solid black;
    border-radius: 0.15em;
    transform: translateY(0.2em);

    position: relative;
}

.select input[type="checkbox"]:before {
    width: 0.7em;
    height: 0.7em;
    left: 0.15em;
    top: 0.15em;

    content: '';
    display: block;
    background-color: white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

    position: absolute;
}

.select input[type="checkbox"]:checked {
    background-color: black;
}

.select input[type="submit"] {
    border: none;
    border-radius: 10vw;

    width: 22.5vw;

    color: white;
    font-weight: 700;
    font-size: var(--select-font-size);

    background-color: #427ADC;
}

/* Select Mobile */ @media screen and (max-width: 424px){
    .select {
        flex-direction: column;
        align-items: center;
        gap: 2vw;

        --select-font-size: 8vw;
    }

    .select .option {
        width: 100%;
        align-items: center;
    }

    .select input[type="number"] {
        width: 8vw;
    }

    .select input[type="submit"] {
        width: 100%;
    }
}

/* Table */
.tt {
    width: 100%;

    border-collapse: collapse;
}

.tt .time {
    font-size: 2.5vw;

    width: 5vw;
}

.tt .tthead td {
    font-size: 2.5vw !important;
    font-weight: 900;
}

.tt .first td {
    font-size: 2.5vw;
    font-weight: 700;
    
    border-top: 2px black solid;
}

.tt .second td {
    font-size: 1.7vw;
    font-weight: 500;
}

.tt td {
    text-align: center;
}

.tt .not_time {
    width: 12vw;
}

/* Select Mobile */ @media screen and (max-width: 424px) {
    .tt .first td {
        font-size: 5.5vw;
    }

    .tt .second td {
        font-size: 3.7vw;
    }

    .tt .time {
        font-size: 3vw;
    }
}