span.patternAccent.Title {
    font-size: var(--big-font-size);
    font-weight: 700;
}

/* InputDiv */
.inputDiv {
    width: 100%;

    border-radius: 1vw;

    display: flex;
    justify-content: space-between;
}

/* Button & Input */
.inputDiv button {
    text-align: center;
    font-size: 2vw;
    font-weight: 700;

    padding: 1vw;

    box-shadow: -3px 6px #99999950;
    
    color: var(--prefer-background);
    background-color: var(--accent-color);
    
    border-radius: 1vw;
    border: none;
    
    transition: all 0.1s ;
}

.inputDiv button:active {
    box-shadow: 0px 0px var(--accent-color-transparent);
}

.inputDiv button:hover {
    background-color: var(--accent-color-weak);
}

.inputDiv input {
    width: 41vw;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: 2vw;

    border: none;
    border-radius: 100vw;
    outline: none;

    color: black;
    background-color: #999;
}

.inputDiv .sep {
    width: fit-content;
    padding: 1vw;

    border-radius: 1vw;

    background-color: var(--accent-color-transparent);
}

/* Mobile */ @media screen and (max-width: 600px){
    .inputDiv .sep > *{
        font-size: 5vw;
    }
}

/* MealList */
.mealList {
    margin-top: 1vw;
    margin-bottom: 1vw;

    width: 100%;
    background-color: var(--accent-color-transparent) !important;

    display: flex;

    border-radius: 1vw;

    overflow-x: scroll;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    position: relative;
}

.mealList .mealItem {
    width: var(--one-width);
    padding: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;

    border-right: var(--accent-color) 1px solid;

    scroll-snap-align: start;
    
    transition: 0.1s;
}

.mealList .mealItem:last-child {
    border: none;
}

.mealList .mealItem .day {
    width: 5vw;
    height: 5vw;

    border-radius: 50%;
    background-color: var(--accent-color);

    color: var(--prefer-text);
    font-weight: 800;
    font-size: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mealList .mealItem .day .weekDay {
    font-size: 1vw;
}

.mealList .mealItem .today {
    color: var(--prefer-background);
    background-color: var(--prefer-text);
}

.mealList .mealItem .before {
    color: var(--prefer-text);
    background-color: transparent;

    border: var(--accent-color) 2px solid;

    font-weight: 400;
}

.mealList .mealItem .mealData {
    background-color: var(--prefer-background);
    color: var(--prefer-text);

    width: calc(var(--one-width) - 2vw);
    height: max-content;

    font-size: calc(var(--big-font-size) / 1.5);

    padding: 1vw;

    border-radius: 1vw;

    transition: 0.1s;
}

/* Mobile */ @media screen and (max-width: 600px){
    body {
        min-height: 100vh;
    }

    .mealList {
        height: 70vw;

        flex-direction: column;
        scroll-snap-type: y;

        overflow-y: scroll;
        overflow-x: auto;
    }

    .mealList .mealItem {
        height: inherit;
        border-right: none;
        border-bottom: var(--accent-color) 1px solid;
    }

    .mealList .mealItem .day {
        width: 13vw;
        height: 13vw;

        font-size: 6vw;
        font-weight: 700;
    }

    .mealList .mealItem .today::before {
        font-size: 5vw;    
        transform: translateX(max(13vw, 24px));
    }

    .mealList .mealItem .mealData {
        width: 100%;
    }
}

/* additionalDiv */
.additionalDiv {
    width: 100%;
    padding: 1vw;
    margin-top: 1vw;

    border: 1px #999 solid;
    border-radius: 1vw;

    color: var(--prefer-text);

    font-size: calc(var(--big-font-size) / 1.3);
    font-weight: 700;
    /* for safari */
    word-break: keep-all;
}

.additionalDiv > span {
    font-size: calc(var(--big-font-size) / 1.3);
    font-weight: 600;
    word-break: keep-all;
}

.additionalDiv ol {
    display: grid;
    grid-template-columns: repeat(var(--repeat-count), 1fr);
    margin: 1.5vw;
    padding: 0;
}

.additionalDiv ol > span {
    text-align: center;
    font-weight: 300;
    font-size: calc(var(--big-font-size) / 1.5);;
}

.additionalDiv ol .numbering {
    color: var(--accent-color);
}

/* Allergy Mobile */ @media screen and (max-width: 600px) { 
    .additionalDiv ol {
        grid-template-columns: repeat(3, 1fr);
    }
}
