/* InfoDiv */
.infoDiv {
    width: 100%;
    padding: 1vw;

    border: 1px #999 solid;
    border-radius: 1vw;

    color: var(--prefer-text);

    --select-font-size: min(4vw, 40px);
    font-size: var(--select-font-size);
    font-weight: 700;
}
/* button */
.inputDiv button {
    text-align: center;
    font-size: 3.5vw;
    padding: 1vw;
    margin: 1vw;
    box-shadow: 0px 6px #999;
    color: black;
    background-color: #999;
    border-radius: 6px;
    transition: all 0.1s ;
  
}
.inputDiv button:active {
    box-shadow: 0px 0px #777;
}
.inputDiv input {
    width: 10vw;
    padding: 1vw;
    font-size: 3.5vw;
    border-radius: 20px;
    outline: none;
    color: black;
    background-color: #999;
}

/* Mobile */ @media screen and (max-width: 424px){
    .infoDiv {
        --select-font-size: 8vw;
    }
}

.infoDiv .patternAccent {
    color: var(--accent-color);
}

/* MealList */
.mealList {
    margin-top: 2vw;

    width: 100%;
    background-color: var(--accent-color-transparent) !important;

    display: flex;

    border-radius: 1vw;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    position: relative;
}

.mealList .mealItem {
    width: max-content;
    padding: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;

    border-right: var(--accent-color) 1px solid;

    scroll-snap-align: start;
}

.mealList .mealItem:last-child {
    border: none;
}

.mealList .mealItem .day {
    width: 5vw;
    height: 5vw;

    border-radius: 50%;
    background-color: var(--accent-color);

    color: var(--prefer-text);
    font-weight: 800;
    font-size: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mealList .mealItem .today {
    color: var(--prefer-background);
    background-color: var(--prefer-text);
}

.mealList .mealItem .before {
    color: var(--prefer-text);
    background-color: transparent;

    border: var(--accent-color) 2px solid;

    font-weight: 400;
}

.mealList .mealItem .today::before {
    content: 'Today';
    color: var(--accent-color);
    position: absolute;

    font-size: 2vw;
    font-weight: 800;
    font-family: 'Pacifico', cursive;

    transform: translateX(max(6vw, 20px));
}

.mealList .mealItem .mealData {
    background-color: var(--prefer-background);
    color: var(--prefer-text);

    width: calc(var(--one-width) - 2vw);
    height: max-content;

    padding: 1vw;

    border-radius: 1vw;
}

/* Mobile */ @media screen and (max-width: 424px){
    .mealList .mealItem .day {
        width: 10vw;
        height: 10vw;

        font-size: 6vw;
        font-weight: 700;
    }

    .mealList .mealItem .today::before {
        font-size: 5vw;    
        transform: translateX(max(13vw, 24px));
}
}