.selectDiv {
    border: 1px #999 solid;
    border-radius: 1vw;
    padding: 1vw;
    font-size: var(--recommend-font-size);
    font-weight: 700;
}

.selectDiv input, button{
    font-size: var(--recommend-font-size);
}

.selectDiv button {
    color: var(--prefer-text);
    background-color: var(--accent-color);
    
    border-radius: 2vw;
    border: none;
    width: min-content;
    text-align: center;
    font-weight: 500;
    word-break: keep-all;
}

.loadingDiv {
    font-size: 5vw;
    background-color: var(--accent-color);
    color: var(--prefer-text);
    background: url('/src/pattern.png') repeat-x center bottom;
    text-align: center;
}

/* 캘린더 모드 */
ul.calendarMode {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    list-style: none;

    padding: 0;
}

ul.calendarMode li {
    border: 1px #999 solid;
    padding: 0.5vw;

    display: flex;
    flex-direction: column;

    gap: 0.5vw;
}

ul.calendarMode li .dateDiv {
    color: var(--prefer-text);

    width: 3vw;
    height: 3vw;
    font-size: 2.5vw;
    display: flex;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul.calendarMode li.weekDay {
    color: var(--prefer-text);
    background-color: var(--accent-color-transparent);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul.calendarMode li.scheduleTrue .dateDiv {
    background-color: var(--accent-color);
    font-weight: 700;
}

ul.calendarMode li.scheduleFalse .dateDiv {
    background-color: var(--accent-color);
    font-weight: 300;
}

ul.calendarMode li .scheduleDiv {
    background-color: var(--accent-color-transparent);

    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    
    padding: 1vw;
    border-radius: 1vw;
}

ul.calendarMode li .scheduleDiv span {
    background-color: white;
    border-radius: 1vw;
    padding: 0.5vw;
}

@media (prefers-color-scheme: dark) {
    * {
        --transparent-back: #55555595;
    }
}

@media (prefers-color-scheme: light) {
    * {
        --transparent-back: #AAAAAA95;
    }
}

ul.calendarMode li.beforeMonth,
ul.calendarMode li.afterMonth {
    background-color: var(--transparent-back);
}

/* CalendarMode Mobile */ @media screen and (max-width: 424px){ 
    ul.calendarMode li .dateDiv {
        width: max-content;
        background-color: transparent !important;
        font-size: 3.3vw;
    }
}

/* 리스트 모드 */
ul.listMode {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    list-style: none;

    padding: 0;
}

ul.listMode > li {
    border: 1px #999 solid;
    padding: 0.5vw;
}

ul.listMode > li .monthNumber {
    color: var(--prefer-text);
    background-color: var(--accent-color);

    width: 5.5vw;
    height: 5.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    font-weight: 500;
    font-size: 4vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul.listMode > li ul {
    list-style: none;
    background-color: var(--accent-color-transparent);
    padding: 0.5vw;
    border-radius: 1vw;
}

ul.listMode > li ul li {
    color: var(--prefer-text);
    font-size: 3.5vw;
    word-break: keep-all;
    font-weight: 300;
}

/* NoData */
.NoData {
    font-weight: 300;
    font-size: 2vw;
    color: var(--prefer-text);
}

.NoData span {
    font-weight: 700;
    font-size: 4vw;
}

/* NoData Mobile */ @media screen and (max-width: 424px){
    .NoData {
        font-size: 4vw;
    }
    .NoData span {
        font-size: 8vw;
    }
}